.logo {
  width: 100%;
  margin-top: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: notificationAnimation 6s ease-in-out infinite;
}
.nav__link {
  color: orangered;
  transition: 0.5s;
}
.nav__link:hover {
  color: purple;
  opacity: 0.5;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
.logo_title {
  font-size: 68px;
  margin: 50px 0px 500px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logo_subtitle {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: gray;
}
.logo_subtitle_2 {
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: skyblue;
  font-family: fantasy;
}
