.screen-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  height: 150px;
}
.screen-header__title {
  font-size: 60px;
  font-weight: 600;
  padding-left: 30px;
  color: orangered;
  font-family: cursive;
}
.pic {
  width: 350px;
}
.search {
  color: gray;
  border-color: gray;
  background-color: rgb(233, 235, 236);
  justify-content: center;
  margin-left: 70px;
  margin-right: 80px;
  font-size: 20px;
  width: 200px;
}
.screen-header_icon :hover {
  color: yellowgreen;
}
.icon1 {
  padding-right: 15px;
}
.icon2 {
  padding-right: 15px;
}
.icon3 {
  padding-right: 15px;
}
.icon4 {
  padding-right: 15px;
}
.icon5 {
  padding-right: 50px;
}

.search {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 5px;
}
.space_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.picturesa {
  display: flex;
  margin: 10px 0px;
  height: 890px;
  background-color: blanchedalmond;
  padding: 0;
  justify-content: space-evenly;
  border-radius: 20px;
}
.profile {
  margin: 10px;
}
.pica {
  display: flex;
  margin: 10px;
  height: 430px;
  width: 430px;
  border-radius: 20px;
}
.picb {
  margin: 10px;
  height: 430px;
  width: 430px;
  border-radius: 20px;
}
.picc {
  position: absolute;
  margin-top: 450px;
  margin-left: -225px;
  height: 430px;
  width: 430px;
  border-radius: 20px;
}
.picd {
  position: absolute;
  margin-top: 450px;
  margin-left: 225px;
  height: 430px;
  width: 430px;
  border-radius: 20px;
}
.icon10 {
  margin-left: 10px;
  padding-right: 20px;
}
.icon11 {
  padding-right: 20px;
}
.icon12 {
  padding-right: 20px;
}
.icon13 {
  margin-left: 620px;
  margin-bottom: 20px;
}
.undericon1 :hover {
  color: tomato;
}
.picture_1 {
  width: 900px;
  height: 1320px;
  padding: 5px 10px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
}
.heshtagone {
  margin-left: 20px;
  font-size: 23px;
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.minute {
  font-size: 20px;
  color: gray;
}
.self {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 30px;
  font-family: initial;
}
.space_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture_2 {
  padding: 5px 10px;
  width: 900px;
  height: 1320px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
}
.picturesb {
  display: flex;
  margin: 10px 0px;
  height: 890px;
  background-color: blanchedalmond;
  padding: 0;
  justify-content: space-evenly;
  border-radius: 20px;
}
.pic2a {
  margin: 10px;
  height: 870px;
  width: 880px;
  border-radius: 20px;
}
.space_3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture_3 {
  padding: 5px 10px;
  width: 900px;
  height: 1320px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 10px;
}
.picturesc {
  display: flex;
  margin: 10px 0px;
  height: 890px;
  background-color: blanchedalmond;
  padding: 0;
  justify-content: space-evenly;
  border-radius: 20px;
}
.end {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(55, 0, 255);
}
